<html>
	<head>
		<title>Socialcast Config</title>
        <content tag="selectedWebItem">socialcastconfig</content>
	</head>
	<body>
        #parse ( "/template/includes/actionmessages.vm" )

        #parse ( "/template/includes/actionerrors.vm" )


    <form name="editsocialcastuserauthinfo.form" method="POST" action="${req.contextPath}/admin/plugins/socialcast/doconfigurePlugin.action">
        <table class="greyBox" width="450" cellpadding="2" cellspacing="4">
            #tag( TextField "label='Default Username'" "name='defaultUsername'" "size='50'" )
            #tag( TextField "label='Default Password'" "name='defaultPassword'" "size='50'" )
            #tag( TextField "label='API URL Root'" "name='apiUrlRoot'" "size='50'" )
        <tr>
        <td colspan="2" align="center">
            <br/>
            #tag( Submit "name='confirm'" "value='update.name'" "theme='notable'" )
            #tag( Submit "name='cancel'" "value='cancel.name'" "theme='notable'" )
        </td>
        </tr>
        </table>
    </form>

         #parse ( "/admin/admin-breadcrumbs.vm" )
	</body>
</html>
