#requireResource("com.avalonconsult.confluence.plugins.socialcast:socialcast-macro-css")
<div class="socialcast-messages">
#if($title)
    <h2>$title</h2>
#end

#foreach($message in $messages)
    <div class="socialcast-message">
        <img class="socialcast-icon" src="$message.icon"/>
        <img src="$message.userAvatar16" class="socialcast-avatar"/>
        <div class="message-detail">
        <a href="$message.url">$message.title</a>
        by <a href="$message.userUrl">$message.user</a> <span class="time-ago">$!message.timeAgo</span>
        </div>
    </div>
#end
</div>