#requireResource("confluence.web.resources:jquery")
#requireResource("com.avalonconsult.confluence.plugins.socialcast:socialcast-macro-css")


<script type="text/javascript">
    jQuery(document).ready(function() {
        jQuery("#socialcast-post-$key").click(function() {
            jQuery("#socialcast-post-$key").hide();
            jQuery("#loading-$key").show();

            var postData = {title: jQuery("#title-$key").val()}; //, link: window.location.href};
            jQuery.ajax({
               type: "POST",
               url: "$req.contextPath/socialcast/postsocialcastmessage.action",
               cache: false,
               data: postData,
               dataType: "xml",
               success: function(xml){
                 var result = jQuery(xml).find("result").text();
                 if(result == "201") {
                     jQuery("#loading-$key").hide();
                     jQuery("#result-$key").html("<span style='color:green'>Message Posted</span>");
                     jQuery("#result-$key").show();
                     jQuery("#result-$key").fadeOut(2000, function () {
                         jQuery("#socialcast-post-$key").show();
                         jQuery("#title-$key").val("");
                     });
                 } else if(result == "401") {
                     socialcastPostError$key(result, "Access Denied ");                   
                 }else {
                     socialcastPostError$key(result);
                 }

               },
               error : function (xmlHttpRequest, textStatus, errorThrown) {
                 socialcastPostError$key(textStatus);
               }
             });

        });
    });

    function socialcastPostError$key(status, message) {
        message = (message) ? message : "";
        jQuery("#loading-$key").hide();
        jQuery("#result-$key").html("<span style='color:red'>Error! " + message + "(" + status + ")</span>");
        jQuery("#result-$key").show();
        jQuery("#result-$key").fadeOut(3000, function () {
            jQuery("#socialcast-post-$key").show();
        });
    }

</script>
<div class="socialcast-post-message">
      <textarea id="title-$key" name="title-$key"></textarea>
      <button id="socialcast-post-$key">Share</button>
      <img id="loading-$key" src="$req.contextPath/download/resources/com.avalonconsult.confluence.plugins.socialcast/ajax-loader.gif" style="display:none;"'>
      <span id="result-$key" class="socialcast-post-message-result"></span>
</div>